<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>

<div class="section">
  <div class="container">
    <h3 class="white-text">Add Pokemon:</h3>
    <form action="/addPokemon" method="post">

          <input type="text" name="name" placeholder="Name">

        <select class="white-text" name="trainer_id">
          <option selected value="">Select Trainer</option>
          <%for(let i = 0; i < trainers.length; i++){%>
            <option value="<%=trainers[i].id%>"><%=trainers[i].name%></option>
          <%}%>
        </select>
          <input type="integer" name="cp" value="CP">
<br>
<br>
    <input class="btn deep-orange darken-4" type="submit">
    </form>
  </div>

</div>
