<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>


<div class="section">
  <div class="container">
    <h3 class="white-text">Trainers:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < trainers.length; i++){ %>
          <tr>
            <td><%= trainers[i].id %></td>
            <td><a href="/trainerProfile/<%=trainers[i].id%>"><%= trainers[i].name %></a></td>
          </tr>
        <% } %>

      </tbody>
    </table>

  </div>

</div>
