<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<span style="color:white">Pokemón home page.</span>
<div class="section">
  <div class="container">
    <h3 class="white-text"><%=trainer.name%></h3>
    <table class="white-text">
      <thead>
        <tr>
          <th>Name</th>
          <th>CP</th>
          <th>In Gym</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < pokemon.length; i++){ %>
          <tr>
            <td><%= pokemon[i].name %></td>
            <td><%= pokemon[i].cp%></td>
            <% if(pokemon[i].in_gym){%>
              <td>Yes</td>
            <%}else{%>
                <td>No</td>
            <%}%>

          </tr>
        <% } %>

      </tbody>
    </table>

  </div>

</div>
